.paginator{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.pageNumber {
    width: 25px;
    height: 25px;
    padding: 5px;
    text-align: center;
    border: solid 2px grey;
    border-radius: 70%;
    background-color: #03645188;
    font-weight: bold;
    color: white
 }

.activePage {
    border-color:#03645188;
    background-color: white;
    color: #03645188;
}

.paginator span:hover{
    opacity: 0.5;
}

button{
    border: none;
}

button:hover{
    opacity: 0.5;
}
